<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
                <p class="credits text-muted"> Header photo courtesy of <a href="https://www.flickr.com/photos/oxfameastafrica/7550611126/in/photolist-cvdRCs-3D3NU-6mrA7c-dWQWgT-fhmrFi-fY9Xdp-4iYa6H-afmfu1-9Sboui-9Segs5-ucCRGZ-rRTXod-hBUUS-5Q541P-tZ3St5-cAmXTG-qnC5Rn-swjTi7-s456d9-wJ2B7p-rRTCH7-5Q9iQw-qeSpBe-rS5U4p-cAmXGQ-bKW6Wv-fY9h6h-bjpWbt-qeGH3x-8ZXCX3-4Et7AP-vqhA1D-cvdJAj-nMfB8m-hBUUR-6mrBYX-89TknX-3cTwYF-89gmGW-byf9a-8uYvTt-2Ugh72-Y6ohX-hBUUQ-8uYwix-afmmiJ-4hjhNZ-2n1v2i-8XZ48K-jnGok">Oxfam East Africa</a>, used in accordance with the <a href="https://creativecommons.org/licenses/by/2.0/">CC 2.0 license</a>.</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
