<footer class="dark-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-offset-1 col-md-offset-1 col-md-1">
                <div class="logo-box"></div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="contact">
                    <h4>Contact</h4>
                    <div class="contact-address">
                        <p>
                            Viking House, Westlands, <br />
                            Nairobi, Kenya <br />
                            <a href="mailto://info@lendable.io">info@lendable.io</a>
                        </p>
                        <div class="social-media-links hidden-xs">
                            <a href="https://twitter.com/lendableinc"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company-beta/7952833/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div>
                    <a class="tos" href="/termsofuse.html">Terms of Use</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="contact us">
                    <h4 class="hidden-xs">Contact (USA)</h4>
                    <div class="contact-address">
                        <p>
                            85 Broad Street, <br />
                            28th Floor <br />
                            New York, NY 10004, USA <br/>
                            <a href="mailto://info@lendable.io">info@lendable.io</a>
                        </p>
                        <div class="social-media-links visible-xs">
                            <a href="https://twitter.com/lendableinc"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company-beta/7952833/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-offset-1 col-md-2">
                <div class="careers us">
                    <h4>careers</h4>
                    <p>
                        If you are interested in joining Lendable, please send an email to <a href="mailto://info@lendable.io">info@lendable.io</a>
                    </p>
                    <div class="hidden">
                        <a class="btn btn-pill btn-clear btn-block" href="#">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
