section.section--signup_journey .step.step-1 {
	padding-left: 26px;
}
section.section--signup_journey .step.step-2 {
	padding-left: 36px;
}
section.section--signup_journey .step.step-3 {
	padding-left: 46px;
}
section.section--signup_journey .step.step-4 {
	padding-left: 56px;
}